<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-kotlin-sample"
        version="1.0.0">
    <name>KotlinSample</name>
    <description>Cordova Kotlin Sample Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,kotlin,sample</keywords>
    <js-module name="KotlinSample" src="www/KotlinSample.js">
        <clobbers target="cordova.plugins.KotlinSample" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="KotlinSample">
                <param name="android-package" value="com.example.kotlinsample.KotlinSamplePlugin" />
            </feature>
        </config-file>
        
        <source-file src="src/android/kotlin/com/example/kotlinsample/KotlinSamplePlugin.kt" target-dir="src/com/example/kotlinsample" />
        
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>